<div class="car-container">
  <%= @car.name %>
  <img src="<%= @car.photo1 %> " alt="">
  <p><%= @car.description %></p>
  <img src="<%= @car.photo2 %> " alt="">
  <%= @car.user.email %>
</div>

<%= render 'booking_form' %>

<% if current_user == @car.user  %>
  <%= link_to car_path(@car), method: :delete, data: { confirm: "Are you sure?" } do %>
  <div class="button-delete">
    Delete car
  </div>
  <% end %>
  <%else  %>
  <%end  %>
